--
-- PostgreSQL database dump
--

\restrict XdgRJPCKpTDbcpLIgMCONZLaa7kcyXkgXbkDz4FR0h4srsHOpM8rvmEOIvf9t7V

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg12+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: articlestatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.articlestatus AS ENUM (
    'draft',
    'published',
    'archived'
);


ALTER TYPE public.articlestatus OWNER TO postgres;

--
-- Name: assignmentstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.assignmentstatus AS ENUM (
    'draft',
    'published',
    'closed'
);


ALTER TYPE public.assignmentstatus OWNER TO postgres;

--
-- Name: attendancestatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.attendancestatus AS ENUM (
    'present',
    'absent',
    'late',
    'excused'
);


ALTER TYPE public.attendancestatus OWNER TO postgres;

--
-- Name: documentcategory; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.documentcategory AS ENUM (
    'general',
    'course_material',
    'assignment',
    'report',
    'policy',
    'other'
);


ALTER TYPE public.documentcategory OWNER TO postgres;

--
-- Name: invoicestatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.invoicestatus AS ENUM (
    'UNPAID',
    'PARTIALLY_PAID',
    'PAID',
    'OVERDUE',
    'CANCELLED'
);


ALTER TYPE public.invoicestatus OWNER TO postgres;

--
-- Name: notificationtype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notificationtype AS ENUM (
    'info',
    'warning',
    'success',
    'error',
    'reminder',
    'announcement'
);


ALTER TYPE public.notificationtype OWNER TO postgres;

--
-- Name: paymentmethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.paymentmethod AS ENUM (
    'CASH',
    'CARD',
    'BANK_TRANSFER',
    'ONLINE',
    'CHECK'
);


ALTER TYPE public.paymentmethod OWNER TO postgres;

--
-- Name: questiontype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.questiontype AS ENUM (
    'mcq',
    'true_false',
    'short_answer',
    'essay'
);


ALTER TYPE public.questiontype OWNER TO postgres;

--
-- Name: quizstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.quizstatus AS ENUM (
    'draft',
    'published',
    'closed'
);


ALTER TYPE public.quizstatus OWNER TO postgres;

--
-- Name: sessionstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.sessionstatus AS ENUM (
    'scheduled',
    'active',
    'completed',
    'cancelled'
);


ALTER TYPE public.sessionstatus OWNER TO postgres;

--
-- Name: submissionstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.submissionstatus AS ENUM (
    'submitted',
    'late',
    'graded',
    'returned'
);


ALTER TYPE public.submissionstatus OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: academic_years; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.academic_years (
    id uuid NOT NULL,
    school_id uuid NOT NULL,
    name character varying(100) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    is_current boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_academic_years_dates CHECK ((end_date > start_date))
);


ALTER TABLE public.academic_years OWNER TO postgres;

--
-- Name: ai_conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_conversations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    agent_name character varying(100) DEFAULT 'NexusAI'::character varying NOT NULL,
    prompt_text text NOT NULL,
    response_text text NOT NULL,
    tokens_used integer DEFAULT 0 NOT NULL,
    model_version character varying(50) DEFAULT 'gemini-2.5-flash'::character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ai_conversations OWNER TO postgres;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: assignment_submissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assignment_submissions (
    id uuid NOT NULL,
    assignment_id uuid NOT NULL,
    student_id uuid NOT NULL,
    graded_by uuid,
    content text,
    file_url text,
    score double precision,
    feedback text,
    status public.submissionstatus NOT NULL,
    submitted_at timestamp with time zone DEFAULT now() NOT NULL,
    graded_at timestamp with time zone
);


ALTER TABLE public.assignment_submissions OWNER TO postgres;

--
-- Name: assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assignments (
    id uuid NOT NULL,
    course_id uuid NOT NULL,
    created_by uuid,
    title character varying(255) NOT NULL,
    description text,
    instructions text,
    max_score double precision,
    due_date timestamp with time zone,
    status public.assignmentstatus NOT NULL,
    allow_late_submission boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.assignments OWNER TO postgres;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance (
    id uuid NOT NULL,
    session_id uuid NOT NULL,
    student_id uuid NOT NULL,
    marked_by uuid,
    status public.attendancestatus NOT NULL,
    notes text,
    marked_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.attendance OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    action character varying(100) NOT NULL,
    resource character varying(100),
    ip_address character varying(45),
    user_agent text,
    details_json jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    session_id uuid NOT NULL,
    sender_type character varying(20) NOT NULL,
    content text NOT NULL,
    sources_json jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.chat_messages OWNER TO postgres;

--
-- Name: chat_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    title character varying(255) DEFAULT 'New AI Chat Session'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.chat_sessions OWNER TO postgres;

--
-- Name: class_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_sessions (
    id uuid NOT NULL,
    course_id uuid NOT NULL,
    subject_id uuid,
    teacher_id uuid,
    title character varying(255) NOT NULL,
    description text,
    scheduled_at timestamp with time zone,
    started_at timestamp with time zone,
    ended_at timestamp with time zone,
    status public.sessionstatus NOT NULL,
    location character varying(255),
    meeting_url text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.class_sessions OWNER TO postgres;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classes (
    id uuid NOT NULL,
    school_id uuid NOT NULL,
    academic_year_id uuid NOT NULL,
    name character varying(50) NOT NULL,
    grade_level integer,
    description text,
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.classes OWNER TO postgres;

--
-- Name: course_enrollments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_enrollments (
    id uuid NOT NULL,
    course_id uuid NOT NULL,
    student_id uuid NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.course_enrollments OWNER TO postgres;

--
-- Name: course_subjects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_subjects (
    id uuid NOT NULL,
    course_id uuid NOT NULL,
    subject_id uuid NOT NULL,
    teacher_id uuid,
    credits integer,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.course_subjects OWNER TO postgres;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    id uuid NOT NULL,
    school_id uuid NOT NULL,
    teacher_id uuid,
    title character varying(255) NOT NULL,
    description text,
    code character varying(50),
    is_active boolean DEFAULT true NOT NULL,
    max_students integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: document_chunks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_chunks (
    id uuid NOT NULL,
    document_id uuid NOT NULL,
    uploaded_by uuid NOT NULL,
    document_name character varying(255) NOT NULL,
    chunk_index integer NOT NULL,
    chunk_text text NOT NULL,
    page_number integer,
    metadata_json json,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    embedding public.vector(768)
);


ALTER TABLE public.document_chunks OWNER TO postgres;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    id uuid NOT NULL,
    uploaded_by uuid NOT NULL,
    course_id uuid,
    title character varying(255) NOT NULL,
    description text,
    file_name character varying(500) NOT NULL,
    file_url text NOT NULL,
    file_type character varying(100),
    file_size_bytes integer,
    category public.documentcategory NOT NULL,
    is_public boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: fee_payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fee_payments (
    id uuid NOT NULL,
    invoice_id uuid NOT NULL,
    paid_by uuid,
    amount_paid numeric(12,2) NOT NULL,
    payment_method public.paymentmethod NOT NULL,
    transaction_reference character varying(255),
    notes text,
    paid_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.fee_payments OWNER TO postgres;

--
-- Name: fee_structures; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fee_structures (
    id uuid NOT NULL,
    school_id uuid NOT NULL,
    academic_year_id uuid,
    name character varying(255) NOT NULL,
    description text,
    amount numeric(12,2) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.fee_structures OWNER TO postgres;

--
-- Name: kb_articles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kb_articles (
    id uuid NOT NULL,
    author_id uuid NOT NULL,
    title character varying(500) NOT NULL,
    slug character varying(600) NOT NULL,
    content text NOT NULL,
    summary text,
    category character varying(100),
    tags json,
    status public.articlestatus NOT NULL,
    views integer NOT NULL,
    likes integer NOT NULL,
    is_featured boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    published_at timestamp with time zone
);


ALTER TABLE public.kb_articles OWNER TO postgres;

--
-- Name: lecture_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lecture_sessions (
    id character varying(255) NOT NULL,
    title character varying(255) DEFAULT 'Live Classroom Session'::character varying NOT NULL,
    subject character varying(255),
    teacher_id uuid,
    teacher_name character varying(255),
    status character varying(50) DEFAULT 'LIVE'::character varying NOT NULL,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    ended_at timestamp with time zone,
    duration double precision DEFAULT '0'::double precision NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.lecture_sessions OWNER TO postgres;

--
-- Name: lecture_summaries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lecture_summaries (
    id uuid NOT NULL,
    lecture_session_id character varying(255) NOT NULL,
    summary_text text NOT NULL,
    nlp_insights json,
    status character varying(50) DEFAULT 'completed'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.lecture_summaries OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    recipient_id uuid NOT NULL,
    sender_id uuid,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    notification_type public.notificationtype NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    action_url text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    read_at timestamp with time zone
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: parent_student_links; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parent_student_links (
    id uuid NOT NULL,
    parent_id uuid NOT NULL,
    student_id uuid NOT NULL,
    is_primary_contact boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.parent_student_links OWNER TO postgres;

--
-- Name: parents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parents (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    relation_type character varying(50),
    occupation character varying(100),
    address_line1 character varying(255),
    address_line2 character varying(255),
    city character varying(100),
    state character varying(100),
    postal_code character varying(20),
    alternate_phone character varying(20),
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.parents OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id uuid NOT NULL,
    resource character varying(100) NOT NULL,
    action character varying(50) NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: quiz_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_attempts (
    id uuid NOT NULL,
    quiz_id uuid NOT NULL,
    student_id uuid NOT NULL,
    answers json,
    score double precision,
    total_marks double precision,
    passed boolean,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    submitted_at timestamp with time zone,
    time_taken_seconds integer
);


ALTER TABLE public.quiz_attempts OWNER TO postgres;

--
-- Name: quiz_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_questions (
    id uuid NOT NULL,
    quiz_id uuid NOT NULL,
    question_text text NOT NULL,
    question_type public.questiontype NOT NULL,
    options json,
    correct_answer text,
    marks double precision NOT NULL,
    "order" integer NOT NULL,
    explanation text
);


ALTER TABLE public.quiz_questions OWNER TO postgres;

--
-- Name: quizzes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quizzes (
    id uuid NOT NULL,
    course_id uuid NOT NULL,
    created_by uuid,
    title character varying(255) NOT NULL,
    description text,
    duration_minutes integer,
    max_attempts integer NOT NULL,
    pass_score double precision,
    shuffle_questions boolean NOT NULL,
    show_results boolean NOT NULL,
    status public.quizstatus NOT NULL,
    available_from timestamp with time zone,
    available_until timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.quizzes OWNER TO postgres;

--
-- Name: recordings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recordings (
    id uuid NOT NULL,
    lecture_id uuid,
    teacher_id uuid,
    filename character varying(255) NOT NULL,
    duration double precision NOT NULL,
    start_time timestamp with time zone,
    end_time timestamp with time zone,
    storage_path character varying(512) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.recordings OWNER TO postgres;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    id uuid NOT NULL,
    role_id uuid NOT NULL,
    permission_id uuid NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_system_role boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: schools; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schools (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(20) NOT NULL,
    email character varying(255),
    phone character varying(20),
    address_line1 character varying(255),
    address_line2 character varying(255),
    city character varying(100),
    state character varying(100),
    country character varying(100) DEFAULT 'India'::character varying NOT NULL,
    postal_code character varying(20),
    timezone character varying(50) DEFAULT 'Asia/Kolkata'::character varying NOT NULL,
    logo_url text,
    website character varying(255),
    subscription_tier character varying(20) DEFAULT 'free'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_schools_subscription_tier CHECK (((subscription_tier)::text = ANY ((ARRAY['free'::character varying, 'basic'::character varying, 'pro'::character varying, 'enterprise'::character varying])::text[])))
);


ALTER TABLE public.schools OWNER TO postgres;

--
-- Name: sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sections (
    id uuid NOT NULL,
    class_id uuid NOT NULL,
    school_id uuid NOT NULL,
    class_teacher_id uuid,
    name character varying(10) NOT NULL,
    capacity integer,
    room_number character varying(20),
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sections OWNER TO postgres;

--
-- Name: student_fee_invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_fee_invoices (
    id uuid NOT NULL,
    student_id uuid NOT NULL,
    school_id uuid NOT NULL,
    fee_structure_id uuid,
    invoice_number character varying(100) NOT NULL,
    title character varying(255) NOT NULL,
    total_amount numeric(12,2) NOT NULL,
    paid_amount numeric(12,2) NOT NULL,
    balance_due numeric(12,2) NOT NULL,
    status public.invoicestatus NOT NULL,
    due_date timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.student_fee_invoices OWNER TO postgres;

--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    school_id uuid NOT NULL,
    section_id uuid,
    admission_number character varying(50),
    roll_number character varying(20),
    admission_date date,
    date_of_birth date,
    gender character varying(20),
    blood_group character varying(5),
    nationality character varying(100),
    address_line1 character varying(255),
    address_line2 character varying(255),
    city character varying(100),
    state character varying(100),
    postal_code character varying(20),
    is_active boolean DEFAULT true NOT NULL,
    remarks text,
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: subjects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subjects (
    id uuid NOT NULL,
    school_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(20) NOT NULL,
    description text,
    credits numeric(4,1),
    color character varying(7),
    is_elective boolean DEFAULT false NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.subjects OWNER TO postgres;

--
-- Name: teachers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teachers (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    school_id uuid NOT NULL,
    employee_id character varying(50),
    department character varying(100),
    qualification character varying(255),
    specialization character varying(255),
    joining_date date,
    is_class_teacher boolean DEFAULT false NOT NULL,
    date_of_birth date,
    gender character varying(20),
    is_active boolean DEFAULT true NOT NULL,
    remarks text,
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.teachers OWNER TO postgres;

--
-- Name: transcripts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transcripts (
    id uuid NOT NULL,
    lecture_session_id character varying(255) NOT NULL,
    speaker character varying(255) DEFAULT 'Teacher'::character varying NOT NULL,
    transcript_text text NOT NULL,
    is_teacher boolean DEFAULT true NOT NULL,
    sequence integer DEFAULT 0 NOT NULL,
    chunk_id character varying(255),
    status character varying(50) DEFAULT 'finalized'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.transcripts OWNER TO postgres;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    role_id uuid NOT NULL,
    granted_at timestamp with time zone DEFAULT now() NOT NULL,
    granted_by uuid
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(512) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    role character varying(50) NOT NULL,
    first_name character varying(100),
    last_name character varying(100),
    phone character varying(20),
    avatar_url text,
    school_id uuid,
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    bio text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: academic_years; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.academic_years (id, school_id, name, start_date, end_date, is_current, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ai_conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_conversations (id, user_id, agent_name, prompt_text, response_text, tokens_used, model_version, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
c7a1b2c3d4e5
\.


--
-- Data for Name: assignment_submissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assignment_submissions (id, assignment_id, student_id, graded_by, content, file_url, score, feedback, status, submitted_at, graded_at) FROM stdin;
\.


--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assignments (id, course_id, created_by, title, description, instructions, max_score, due_date, status, allow_late_submission, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attendance (id, session_id, student_id, marked_by, status, notes, marked_at, updated_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_logs (id, user_id, action, resource, ip_address, user_agent, details_json, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_messages (id, session_id, sender_type, content, sources_json, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: chat_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_sessions (id, user_id, title, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: class_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.class_sessions (id, course_id, subject_id, teacher_id, title, description, scheduled_at, started_at, ended_at, status, location, meeting_url, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.classes (id, school_id, academic_year_id, name, grade_level, description, is_deleted, deleted_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: course_enrollments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_enrollments (id, course_id, student_id, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: course_subjects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_subjects (id, course_id, subject_id, teacher_id, credits, description, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses (id, school_id, teacher_id, title, description, code, is_active, max_students, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_chunks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_chunks (id, document_id, uploaded_by, document_name, chunk_index, chunk_text, page_number, metadata_json, created_at, embedding) FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.documents (id, uploaded_by, course_id, title, description, file_name, file_url, file_type, file_size_bytes, category, is_public, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: fee_payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fee_payments (id, invoice_id, paid_by, amount_paid, payment_method, transaction_reference, notes, paid_at) FROM stdin;
\.


--
-- Data for Name: fee_structures; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fee_structures (id, school_id, academic_year_id, name, description, amount, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: kb_articles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.kb_articles (id, author_id, title, slug, content, summary, category, tags, status, views, likes, is_featured, created_at, updated_at, published_at) FROM stdin;
\.


--
-- Data for Name: lecture_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lecture_sessions (id, title, subject, teacher_id, teacher_name, status, started_at, ended_at, duration, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: lecture_summaries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lecture_summaries (id, lecture_session_id, summary_text, nlp_insights, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, recipient_id, sender_id, title, message, notification_type, is_read, action_url, created_at, read_at) FROM stdin;
\.


--
-- Data for Name: parent_student_links; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.parent_student_links (id, parent_id, student_id, is_primary_contact, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: parents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.parents (id, user_id, relation_type, occupation, address_line1, address_line2, city, state, postal_code, alternate_phone, is_deleted, deleted_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quiz_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quiz_attempts (id, quiz_id, student_id, answers, score, total_marks, passed, started_at, submitted_at, time_taken_seconds) FROM stdin;
\.


--
-- Data for Name: quiz_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quiz_questions (id, quiz_id, question_text, question_type, options, correct_answer, marks, "order", explanation) FROM stdin;
\.


--
-- Data for Name: quizzes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quizzes (id, course_id, created_by, title, description, duration_minutes, max_attempts, pass_score, shuffle_questions, show_results, status, available_from, available_until, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: recordings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.recordings (id, lecture_id, teacher_id, filename, duration, start_time, end_time, storage_path, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role_permissions (id, role_id, permission_id) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schools; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schools (id, name, code, email, phone, address_line1, address_line2, city, state, country, postal_code, timezone, logo_url, website, subscription_tier, is_active, is_deleted, deleted_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sections (id, class_id, school_id, class_teacher_id, name, capacity, room_number, is_deleted, deleted_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: student_fee_invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_fee_invoices (id, student_id, school_id, fee_structure_id, invoice_number, title, total_amount, paid_amount, balance_due, status, due_date, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.students (id, user_id, school_id, section_id, admission_number, roll_number, admission_date, date_of_birth, gender, blood_group, nationality, address_line1, address_line2, city, state, postal_code, is_active, remarks, is_deleted, deleted_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subjects (id, school_id, name, code, description, credits, color, is_elective, is_deleted, deleted_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teachers (id, user_id, school_id, employee_id, department, qualification, specialization, joining_date, is_class_teacher, date_of_birth, gender, is_active, remarks, is_deleted, deleted_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: transcripts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transcripts (id, lecture_session_id, speaker, transcript_text, is_teacher, sequence, chunk_id, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_roles (id, user_id, role_id, granted_at, granted_by) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, hashed_password, is_active, role, first_name, last_name, phone, avatar_url, school_id, is_deleted, deleted_at, created_at, updated_at, is_verified, bio) FROM stdin;
1902a1a6-0ca3-4a8b-86c3-aca6ecf37899	sudhamadhuribolloju@gmail.com	$2b$12$S6hiYcByr0WQX0dRzRfFBuhXJSaYLBuoJXatqOWE5MqLAQZS5Xyny	t	Teacher	sudha	madhuri		\N	\N	f	\N	2026-09-07 10:03:32.274996+00	2026-09-07 10:13:18.391075+00	t	
\.


--
-- Name: ai_conversations ai_conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_conversations
    ADD CONSTRAINT ai_conversations_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: chat_sessions chat_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_sessions
    ADD CONSTRAINT chat_sessions_pkey PRIMARY KEY (id);


--
-- Name: fee_payments fee_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_payments
    ADD CONSTRAINT fee_payments_pkey PRIMARY KEY (id);


--
-- Name: fee_structures fee_structures_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_structures
    ADD CONSTRAINT fee_structures_pkey PRIMARY KEY (id);


--
-- Name: kb_articles kb_articles_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kb_articles
    ADD CONSTRAINT kb_articles_slug_key UNIQUE (slug);


--
-- Name: lecture_sessions lecture_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_sessions
    ADD CONSTRAINT lecture_sessions_pkey PRIMARY KEY (id);


--
-- Name: lecture_summaries lecture_summaries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_summaries
    ADD CONSTRAINT lecture_summaries_pkey PRIMARY KEY (id);


--
-- Name: academic_years pk_academic_years; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_years
    ADD CONSTRAINT pk_academic_years PRIMARY KEY (id);


--
-- Name: assignment_submissions pk_assignment_submissions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignment_submissions
    ADD CONSTRAINT pk_assignment_submissions PRIMARY KEY (id);


--
-- Name: assignments pk_assignments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT pk_assignments PRIMARY KEY (id);


--
-- Name: attendance pk_attendance; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT pk_attendance PRIMARY KEY (id);


--
-- Name: class_sessions pk_class_sessions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_sessions
    ADD CONSTRAINT pk_class_sessions PRIMARY KEY (id);


--
-- Name: classes pk_classes; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT pk_classes PRIMARY KEY (id);


--
-- Name: course_enrollments pk_course_enrollments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT pk_course_enrollments PRIMARY KEY (id);


--
-- Name: course_subjects pk_course_subjects; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_subjects
    ADD CONSTRAINT pk_course_subjects PRIMARY KEY (id);


--
-- Name: courses pk_courses; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT pk_courses PRIMARY KEY (id);


--
-- Name: document_chunks pk_document_chunks; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT pk_document_chunks PRIMARY KEY (id);


--
-- Name: documents pk_documents; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT pk_documents PRIMARY KEY (id);


--
-- Name: kb_articles pk_kb_articles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kb_articles
    ADD CONSTRAINT pk_kb_articles PRIMARY KEY (id);


--
-- Name: notifications pk_notifications; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT pk_notifications PRIMARY KEY (id);


--
-- Name: parent_student_links pk_parent_student_links; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parent_student_links
    ADD CONSTRAINT pk_parent_student_links PRIMARY KEY (id);


--
-- Name: parents pk_parents; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parents
    ADD CONSTRAINT pk_parents PRIMARY KEY (id);


--
-- Name: permissions pk_permissions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT pk_permissions PRIMARY KEY (id);


--
-- Name: quiz_attempts pk_quiz_attempts; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempts
    ADD CONSTRAINT pk_quiz_attempts PRIMARY KEY (id);


--
-- Name: quiz_questions pk_quiz_questions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_questions
    ADD CONSTRAINT pk_quiz_questions PRIMARY KEY (id);


--
-- Name: quizzes pk_quizzes; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quizzes
    ADD CONSTRAINT pk_quizzes PRIMARY KEY (id);


--
-- Name: role_permissions pk_role_permissions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT pk_role_permissions PRIMARY KEY (id);


--
-- Name: roles pk_roles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT pk_roles PRIMARY KEY (id);


--
-- Name: schools pk_schools; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools
    ADD CONSTRAINT pk_schools PRIMARY KEY (id);


--
-- Name: sections pk_sections; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT pk_sections PRIMARY KEY (id);


--
-- Name: students pk_students; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT pk_students PRIMARY KEY (id);


--
-- Name: subjects pk_subjects; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT pk_subjects PRIMARY KEY (id);


--
-- Name: teachers pk_teachers; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT pk_teachers PRIMARY KEY (id);


--
-- Name: user_roles pk_user_roles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT pk_user_roles PRIMARY KEY (id);


--
-- Name: users pk_users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_users PRIMARY KEY (id);


--
-- Name: recordings recordings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recordings
    ADD CONSTRAINT recordings_pkey PRIMARY KEY (id);


--
-- Name: student_fee_invoices student_fee_invoices_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_fee_invoices
    ADD CONSTRAINT student_fee_invoices_invoice_number_key UNIQUE (invoice_number);


--
-- Name: student_fee_invoices student_fee_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_fee_invoices
    ADD CONSTRAINT student_fee_invoices_pkey PRIMARY KEY (id);


--
-- Name: transcripts transcripts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transcripts
    ADD CONSTRAINT transcripts_pkey PRIMARY KEY (id);


--
-- Name: academic_years uq_academic_years_school_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_years
    ADD CONSTRAINT uq_academic_years_school_name UNIQUE (school_id, name);


--
-- Name: attendance uq_attendance_session_student; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT uq_attendance_session_student UNIQUE (session_id, student_id);


--
-- Name: classes uq_classes_school_year_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT uq_classes_school_year_name UNIQUE (school_id, academic_year_id, name);


--
-- Name: course_enrollments uq_course_enrollment; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT uq_course_enrollment UNIQUE (course_id, student_id);


--
-- Name: parent_student_links uq_parent_student_link; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parent_student_links
    ADD CONSTRAINT uq_parent_student_link UNIQUE (parent_id, student_id);


--
-- Name: parents uq_parents_user_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parents
    ADD CONSTRAINT uq_parents_user_id UNIQUE (user_id);


--
-- Name: permissions uq_permissions_resource_action; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT uq_permissions_resource_action UNIQUE (resource, action);


--
-- Name: role_permissions uq_role_permissions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT uq_role_permissions UNIQUE (role_id, permission_id);


--
-- Name: roles uq_roles_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT uq_roles_name UNIQUE (name);


--
-- Name: schools uq_schools_code; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools
    ADD CONSTRAINT uq_schools_code UNIQUE (code);


--
-- Name: sections uq_sections_class_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT uq_sections_class_name UNIQUE (class_id, name);


--
-- Name: students uq_students_school_admission_number; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT uq_students_school_admission_number UNIQUE (school_id, admission_number);


--
-- Name: students uq_students_school_roll_number; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT uq_students_school_roll_number UNIQUE (school_id, roll_number);


--
-- Name: students uq_students_user_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT uq_students_user_id UNIQUE (user_id);


--
-- Name: subjects uq_subjects_school_code; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT uq_subjects_school_code UNIQUE (school_id, code);


--
-- Name: teachers uq_teachers_school_employee_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT uq_teachers_school_employee_id UNIQUE (school_id, employee_id);


--
-- Name: teachers uq_teachers_user_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT uq_teachers_user_id UNIQUE (user_id);


--
-- Name: user_roles uq_user_roles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT uq_user_roles UNIQUE (user_id, role_id);


--
-- Name: ix_academic_years_is_current; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_academic_years_is_current ON public.academic_years USING btree (is_current);


--
-- Name: ix_academic_years_school_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_academic_years_school_id ON public.academic_years USING btree (school_id);


--
-- Name: ix_ai_conversations_agent_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_conversations_agent_name ON public.ai_conversations USING btree (agent_name);


--
-- Name: ix_ai_conversations_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_conversations_user_id ON public.ai_conversations USING btree (user_id);


--
-- Name: ix_assignment_submissions_assignment_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_assignment_submissions_assignment_id ON public.assignment_submissions USING btree (assignment_id);


--
-- Name: ix_assignment_submissions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_assignment_submissions_status ON public.assignment_submissions USING btree (status);


--
-- Name: ix_assignment_submissions_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_assignment_submissions_student_id ON public.assignment_submissions USING btree (student_id);


--
-- Name: ix_assignments_course_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_assignments_course_id ON public.assignments USING btree (course_id);


--
-- Name: ix_assignments_created_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_assignments_created_by ON public.assignments USING btree (created_by);


--
-- Name: ix_assignments_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_assignments_status ON public.assignments USING btree (status);


--
-- Name: ix_attendance_session_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_attendance_session_id ON public.attendance USING btree (session_id);


--
-- Name: ix_attendance_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_attendance_status ON public.attendance USING btree (status);


--
-- Name: ix_attendance_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_attendance_student_id ON public.attendance USING btree (student_id);


--
-- Name: ix_audit_logs_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: ix_audit_logs_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_audit_logs_created_at ON public.audit_logs USING btree (created_at);


--
-- Name: ix_audit_logs_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: ix_chat_messages_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_chat_messages_created_at ON public.chat_messages USING btree (created_at);


--
-- Name: ix_chat_messages_session_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_chat_messages_session_id ON public.chat_messages USING btree (session_id);


--
-- Name: ix_chat_sessions_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_chat_sessions_created_at ON public.chat_sessions USING btree (created_at);


--
-- Name: ix_chat_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_chat_sessions_user_id ON public.chat_sessions USING btree (user_id);


--
-- Name: ix_class_sessions_course_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_class_sessions_course_id ON public.class_sessions USING btree (course_id);


--
-- Name: ix_class_sessions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_class_sessions_status ON public.class_sessions USING btree (status);


--
-- Name: ix_class_sessions_teacher_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_class_sessions_teacher_id ON public.class_sessions USING btree (teacher_id);


--
-- Name: ix_classes_academic_year_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_classes_academic_year_id ON public.classes USING btree (academic_year_id);


--
-- Name: ix_classes_grade_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_classes_grade_level ON public.classes USING btree (grade_level);


--
-- Name: ix_classes_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_classes_is_deleted ON public.classes USING btree (is_deleted);


--
-- Name: ix_classes_school_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_classes_school_id ON public.classes USING btree (school_id);


--
-- Name: ix_course_enrollments_course_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_course_enrollments_course_id ON public.course_enrollments USING btree (course_id);


--
-- Name: ix_course_enrollments_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_course_enrollments_student_id ON public.course_enrollments USING btree (student_id);


--
-- Name: ix_course_subjects_course_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_course_subjects_course_id ON public.course_subjects USING btree (course_id);


--
-- Name: ix_course_subjects_subject_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_course_subjects_subject_id ON public.course_subjects USING btree (subject_id);


--
-- Name: ix_course_subjects_teacher_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_course_subjects_teacher_id ON public.course_subjects USING btree (teacher_id);


--
-- Name: ix_courses_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_courses_code ON public.courses USING btree (code);


--
-- Name: ix_courses_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_courses_is_active ON public.courses USING btree (is_active);


--
-- Name: ix_courses_school_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_courses_school_id ON public.courses USING btree (school_id);


--
-- Name: ix_courses_teacher_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_courses_teacher_id ON public.courses USING btree (teacher_id);


--
-- Name: ix_document_chunks_chunk_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_document_chunks_chunk_index ON public.document_chunks USING btree (chunk_index);


--
-- Name: ix_document_chunks_document_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_document_chunks_document_id ON public.document_chunks USING btree (document_id);


--
-- Name: ix_document_chunks_uploaded_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_document_chunks_uploaded_by ON public.document_chunks USING btree (uploaded_by);


--
-- Name: ix_documents_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_documents_category ON public.documents USING btree (category);


--
-- Name: ix_documents_course_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_documents_course_id ON public.documents USING btree (course_id);


--
-- Name: ix_documents_uploaded_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_documents_uploaded_by ON public.documents USING btree (uploaded_by);


--
-- Name: ix_fee_payments_invoice_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fee_payments_invoice_id ON public.fee_payments USING btree (invoice_id);


--
-- Name: ix_fee_payments_paid_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fee_payments_paid_by ON public.fee_payments USING btree (paid_by);


--
-- Name: ix_fee_structures_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fee_structures_name ON public.fee_structures USING btree (name);


--
-- Name: ix_fee_structures_school_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fee_structures_school_id ON public.fee_structures USING btree (school_id);


--
-- Name: ix_kb_articles_author_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_kb_articles_author_id ON public.kb_articles USING btree (author_id);


--
-- Name: ix_kb_articles_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_kb_articles_category ON public.kb_articles USING btree (category);


--
-- Name: ix_kb_articles_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_kb_articles_slug ON public.kb_articles USING btree (slug);


--
-- Name: ix_kb_articles_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_kb_articles_status ON public.kb_articles USING btree (status);


--
-- Name: ix_lecture_sessions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_lecture_sessions_status ON public.lecture_sessions USING btree (status);


--
-- Name: ix_lecture_sessions_teacher_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_lecture_sessions_teacher_id ON public.lecture_sessions USING btree (teacher_id);


--
-- Name: ix_lecture_summaries_lecture_session_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_lecture_summaries_lecture_session_id ON public.lecture_summaries USING btree (lecture_session_id);


--
-- Name: ix_notifications_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_created_at ON public.notifications USING btree (created_at);


--
-- Name: ix_notifications_is_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: ix_notifications_recipient_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_recipient_id ON public.notifications USING btree (recipient_id);


--
-- Name: ix_parents_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_parents_is_deleted ON public.parents USING btree (is_deleted);


--
-- Name: ix_parents_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_parents_user_id ON public.parents USING btree (user_id);


--
-- Name: ix_permissions_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_permissions_action ON public.permissions USING btree (action);


--
-- Name: ix_permissions_resource; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_permissions_resource ON public.permissions USING btree (resource);


--
-- Name: ix_psl_parent_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_psl_parent_id ON public.parent_student_links USING btree (parent_id);


--
-- Name: ix_psl_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_psl_student_id ON public.parent_student_links USING btree (student_id);


--
-- Name: ix_quiz_attempts_quiz_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_quiz_attempts_quiz_id ON public.quiz_attempts USING btree (quiz_id);


--
-- Name: ix_quiz_attempts_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_quiz_attempts_student_id ON public.quiz_attempts USING btree (student_id);


--
-- Name: ix_quiz_questions_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_quiz_questions_order ON public.quiz_questions USING btree ("order");


--
-- Name: ix_quiz_questions_quiz_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_quiz_questions_quiz_id ON public.quiz_questions USING btree (quiz_id);


--
-- Name: ix_quizzes_course_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_quizzes_course_id ON public.quizzes USING btree (course_id);


--
-- Name: ix_quizzes_created_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_quizzes_created_by ON public.quizzes USING btree (created_by);


--
-- Name: ix_quizzes_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_quizzes_status ON public.quizzes USING btree (status);


--
-- Name: ix_recordings_lecture_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_recordings_lecture_id ON public.recordings USING btree (lecture_id);


--
-- Name: ix_recordings_teacher_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_recordings_teacher_id ON public.recordings USING btree (teacher_id);


--
-- Name: ix_role_permissions_permission_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_role_permissions_permission_id ON public.role_permissions USING btree (permission_id);


--
-- Name: ix_role_permissions_role_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_role_permissions_role_id ON public.role_permissions USING btree (role_id);


--
-- Name: ix_roles_is_system_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_roles_is_system_role ON public.roles USING btree (is_system_role);


--
-- Name: ix_roles_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_roles_name ON public.roles USING btree (name);


--
-- Name: ix_schools_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_schools_code ON public.schools USING btree (code);


--
-- Name: ix_schools_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_schools_is_active ON public.schools USING btree (is_active);


--
-- Name: ix_schools_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_schools_is_deleted ON public.schools USING btree (is_deleted);


--
-- Name: ix_schools_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_schools_name ON public.schools USING btree (name);


--
-- Name: ix_sections_class_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_sections_class_id ON public.sections USING btree (class_id);


--
-- Name: ix_sections_class_teacher_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_sections_class_teacher_id ON public.sections USING btree (class_teacher_id);


--
-- Name: ix_sections_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_sections_is_deleted ON public.sections USING btree (is_deleted);


--
-- Name: ix_sections_school_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_sections_school_id ON public.sections USING btree (school_id);


--
-- Name: ix_student_fee_invoices_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_student_fee_invoices_number ON public.student_fee_invoices USING btree (invoice_number);


--
-- Name: ix_student_fee_invoices_school_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_student_fee_invoices_school_id ON public.student_fee_invoices USING btree (school_id);


--
-- Name: ix_student_fee_invoices_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_student_fee_invoices_status ON public.student_fee_invoices USING btree (status);


--
-- Name: ix_student_fee_invoices_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_student_fee_invoices_student_id ON public.student_fee_invoices USING btree (student_id);


--
-- Name: ix_students_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_students_is_deleted ON public.students USING btree (is_deleted);


--
-- Name: ix_students_school_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_students_school_id ON public.students USING btree (school_id);


--
-- Name: ix_students_section_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_students_section_id ON public.students USING btree (section_id);


--
-- Name: ix_students_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_students_user_id ON public.students USING btree (user_id);


--
-- Name: ix_subjects_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_subjects_is_deleted ON public.subjects USING btree (is_deleted);


--
-- Name: ix_subjects_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_subjects_name ON public.subjects USING btree (name);


--
-- Name: ix_subjects_school_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_subjects_school_id ON public.subjects USING btree (school_id);


--
-- Name: ix_teachers_is_class_teacher; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_teachers_is_class_teacher ON public.teachers USING btree (is_class_teacher);


--
-- Name: ix_teachers_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_teachers_is_deleted ON public.teachers USING btree (is_deleted);


--
-- Name: ix_teachers_school_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_teachers_school_id ON public.teachers USING btree (school_id);


--
-- Name: ix_teachers_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_teachers_user_id ON public.teachers USING btree (user_id);


--
-- Name: ix_transcripts_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_transcripts_created_at ON public.transcripts USING btree (created_at);


--
-- Name: ix_transcripts_lecture_session_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_transcripts_lecture_session_id ON public.transcripts USING btree (lecture_session_id);


--
-- Name: ix_user_roles_role_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_roles_role_id ON public.user_roles USING btree (role_id);


--
-- Name: ix_user_roles_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_roles_user_id ON public.user_roles USING btree (user_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_is_deleted ON public.users USING btree (is_deleted);


--
-- Name: ix_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_role ON public.users USING btree (role);


--
-- Name: ai_conversations ai_conversations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_conversations
    ADD CONSTRAINT ai_conversations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: chat_messages chat_messages_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.chat_sessions(id) ON DELETE CASCADE;


--
-- Name: chat_sessions chat_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_sessions
    ADD CONSTRAINT chat_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: fee_payments fee_payments_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_payments
    ADD CONSTRAINT fee_payments_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.student_fee_invoices(id) ON DELETE CASCADE;


--
-- Name: fee_payments fee_payments_paid_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_payments
    ADD CONSTRAINT fee_payments_paid_by_fkey FOREIGN KEY (paid_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: fee_structures fee_structures_academic_year_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_structures
    ADD CONSTRAINT fee_structures_academic_year_id_fkey FOREIGN KEY (academic_year_id) REFERENCES public.academic_years(id) ON DELETE SET NULL;


--
-- Name: fee_structures fee_structures_school_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_structures
    ADD CONSTRAINT fee_structures_school_id_fkey FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: academic_years fk_academic_years_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_years
    ADD CONSTRAINT fk_academic_years_school_id FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: assignment_submissions fk_assignment_submissions_assignment_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignment_submissions
    ADD CONSTRAINT fk_assignment_submissions_assignment_id FOREIGN KEY (assignment_id) REFERENCES public.assignments(id) ON DELETE CASCADE;


--
-- Name: assignment_submissions fk_assignment_submissions_graded_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignment_submissions
    ADD CONSTRAINT fk_assignment_submissions_graded_by FOREIGN KEY (graded_by) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: assignment_submissions fk_assignment_submissions_student_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignment_submissions
    ADD CONSTRAINT fk_assignment_submissions_student_id FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: assignments fk_assignments_course_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT fk_assignments_course_id FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: assignments fk_assignments_created_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT fk_assignments_created_by FOREIGN KEY (created_by) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: attendance fk_attendance_marked_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT fk_attendance_marked_by FOREIGN KEY (marked_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: attendance fk_attendance_session_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT fk_attendance_session_id FOREIGN KEY (session_id) REFERENCES public.class_sessions(id) ON DELETE CASCADE;


--
-- Name: attendance fk_attendance_student_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT fk_attendance_student_id FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: class_sessions fk_class_sessions_course_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_sessions
    ADD CONSTRAINT fk_class_sessions_course_id FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: class_sessions fk_class_sessions_subject_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_sessions
    ADD CONSTRAINT fk_class_sessions_subject_id FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE SET NULL;


--
-- Name: class_sessions fk_class_sessions_teacher_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_sessions
    ADD CONSTRAINT fk_class_sessions_teacher_id FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: classes fk_classes_academic_year_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT fk_classes_academic_year_id FOREIGN KEY (academic_year_id) REFERENCES public.academic_years(id) ON DELETE CASCADE;


--
-- Name: classes fk_classes_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT fk_classes_school_id FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: course_enrollments fk_course_enrollments_course_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT fk_course_enrollments_course_id FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_enrollments fk_course_enrollments_student_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT fk_course_enrollments_student_id FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: course_subjects fk_course_subjects_course_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_subjects
    ADD CONSTRAINT fk_course_subjects_course_id FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_subjects fk_course_subjects_subject_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_subjects
    ADD CONSTRAINT fk_course_subjects_subject_id FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE CASCADE;


--
-- Name: course_subjects fk_course_subjects_teacher_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_subjects
    ADD CONSTRAINT fk_course_subjects_teacher_id FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: courses fk_courses_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT fk_courses_school_id FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: courses fk_courses_teacher_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT fk_courses_teacher_id FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: document_chunks fk_document_chunks_document_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT fk_document_chunks_document_id FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: document_chunks fk_document_chunks_uploaded_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT fk_document_chunks_uploaded_by FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: documents fk_documents_course_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fk_documents_course_id FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE SET NULL;


--
-- Name: documents fk_documents_uploaded_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fk_documents_uploaded_by FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: kb_articles fk_kb_articles_author_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kb_articles
    ADD CONSTRAINT fk_kb_articles_author_id FOREIGN KEY (author_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications fk_notifications_recipient_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk_notifications_recipient_id FOREIGN KEY (recipient_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications fk_notifications_sender_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk_notifications_sender_id FOREIGN KEY (sender_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: parents fk_parents_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parents
    ADD CONSTRAINT fk_parents_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: parent_student_links fk_psl_parent_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parent_student_links
    ADD CONSTRAINT fk_psl_parent_id FOREIGN KEY (parent_id) REFERENCES public.parents(id) ON DELETE CASCADE;


--
-- Name: parent_student_links fk_psl_student_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parent_student_links
    ADD CONSTRAINT fk_psl_student_id FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: quiz_attempts fk_quiz_attempts_quiz_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempts
    ADD CONSTRAINT fk_quiz_attempts_quiz_id FOREIGN KEY (quiz_id) REFERENCES public.quizzes(id) ON DELETE CASCADE;


--
-- Name: quiz_attempts fk_quiz_attempts_student_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempts
    ADD CONSTRAINT fk_quiz_attempts_student_id FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: quiz_questions fk_quiz_questions_quiz_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_questions
    ADD CONSTRAINT fk_quiz_questions_quiz_id FOREIGN KEY (quiz_id) REFERENCES public.quizzes(id) ON DELETE CASCADE;


--
-- Name: quizzes fk_quizzes_course_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quizzes
    ADD CONSTRAINT fk_quizzes_course_id FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: quizzes fk_quizzes_created_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quizzes
    ADD CONSTRAINT fk_quizzes_created_by FOREIGN KEY (created_by) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: role_permissions fk_role_permissions_permission_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT fk_role_permissions_permission_id FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: role_permissions fk_role_permissions_role_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT fk_role_permissions_role_id FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: sections fk_sections_class_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT fk_sections_class_id FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: sections fk_sections_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT fk_sections_school_id FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: students fk_students_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT fk_students_school_id FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: students fk_students_section_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT fk_students_section_id FOREIGN KEY (section_id) REFERENCES public.sections(id) ON DELETE SET NULL;


--
-- Name: students fk_students_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT fk_students_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: subjects fk_subjects_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT fk_subjects_school_id FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: teachers fk_teachers_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT fk_teachers_school_id FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: teachers fk_teachers_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT fk_teachers_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_roles fk_user_roles_role_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fk_user_roles_role_id FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles fk_user_roles_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fk_user_roles_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users fk_users_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_school_id FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE SET NULL;


--
-- Name: lecture_sessions lecture_sessions_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_sessions
    ADD CONSTRAINT lecture_sessions_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: lecture_summaries lecture_summaries_lecture_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_summaries
    ADD CONSTRAINT lecture_summaries_lecture_session_id_fkey FOREIGN KEY (lecture_session_id) REFERENCES public.lecture_sessions(id) ON DELETE CASCADE;


--
-- Name: recordings recordings_lecture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recordings
    ADD CONSTRAINT recordings_lecture_id_fkey FOREIGN KEY (lecture_id) REFERENCES public.class_sessions(id) ON DELETE SET NULL;


--
-- Name: recordings recordings_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recordings
    ADD CONSTRAINT recordings_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: student_fee_invoices student_fee_invoices_fee_structure_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_fee_invoices
    ADD CONSTRAINT student_fee_invoices_fee_structure_id_fkey FOREIGN KEY (fee_structure_id) REFERENCES public.fee_structures(id) ON DELETE SET NULL;


--
-- Name: student_fee_invoices student_fee_invoices_school_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_fee_invoices
    ADD CONSTRAINT student_fee_invoices_school_id_fkey FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: student_fee_invoices student_fee_invoices_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_fee_invoices
    ADD CONSTRAINT student_fee_invoices_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: transcripts transcripts_lecture_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transcripts
    ADD CONSTRAINT transcripts_lecture_session_id_fkey FOREIGN KEY (lecture_session_id) REFERENCES public.lecture_sessions(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict XdgRJPCKpTDbcpLIgMCONZLaa7kcyXkgXbkDz4FR0h4srsHOpM8rvmEOIvf9t7V

